.navbar-color-white {
    background-color: #a9a9a9;
    border-color: transparent;
}

.navbar-inverse .navbar-nav > li > a {
    color: #000000;
    font-weight: 600;
}
.navbar-inverse .navbar-nav > li > a:hover {
    color: #999999;
    background-color: transparent;
}
.navbar-inverse .navbar-brand {
    color: #000000;
    font-weight: 600;
}
.navbar-inverse .navbar-brand:hover {
    color: #999999;
    background-color: transparent;    
}

.row-fix-height {
    height: 300px;
    position: relative;
}


#btnStart  {
    width: 400px;
    height: 100px;
    font-size: 15px;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -50px;
    position: absolute;
}

.learning-option {
    width: 500px;
    height: 300px;
    margin: 20px 40px 20px 40px;
    padding-top: 20px;

}

.learning-option span {
    font-size: 20px;
    font-weight: bold;
}

.learning-option div {
    margin-top: 30px;    
}

.learning-option ul {
    list-style-type: none;
    padding-left: 0px;
}

.learning-option ul li {
    padding: 10px;
    font-size: 15px;
}

footer {
    text-align: center;
}