@model dynamic
@{
    ViewBag.Title = "Import Form";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@section Scripts
{
    <script src="@Url.Content("~/Scripts/Dev/import.js")"></script>
}

<form class="form-inline fixed-top">
    <div class="row row-filter">
        <div class="form-group">
            <input id="btnChooseFile" type="file" accept="text/plain" class="btn btn-default">
        </div>
        <div class="form-group">
            <button id="btnSave" class="btn btn-default">Save</button>
        </div>
    </div>
</form>
<div class="row">
    <table id="tableDic" class="table table-hover">
        <thead>
        <tr>
            <th>Original</th>
            <th>Translation</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr id="addRowTemplate" class="hidden">
            <td><input class="input-lg col-lg-12" value="dog" /></td>
            <td><input class="input-lg col-lg-12" value="собака" /></td>
            <td>
                <div class="">
                    <a href="#" class="editRowYes">Save</a>
                    <a href="#" class="editRowNo">Cancel</a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

