@{
    ViewBag.Title = "Home Page";
}

<div class="row row-fix-height">
    <button class="btn btn-default" id='btnStart'>Welcome to xxx.com. You have no words in the dictionary.<br/>
        Please add words first, before begin</button>
</div>
