@model VocabuleryX.Models.TrainingViewModel
@{
    ViewBag.Title = "Learning";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Learning</h2>
<hr/>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <a class="btn btn-default learning-option" id="btnLearnNew" href="@Url.Action("Index", "Learn", new RouteValueDictionary() { { "type", "new"}})">
                <span>Learn next words</span>
                <div>
                    <ul>
                        @foreach (var item in Model.NewWords)
                        {
                            <li>@item.Origin</li>
                        }
                    </ul>
                </div>
            </a>
        </div>
        <div class="col-md-6">
            <a class="btn btn-default learning-option" id="btnRepeatOld" href="@Url.Action("Index", "Learn", new RouteValueDictionary() { { "type", "old"}})">
                <span>Repeat previous words</span>
                <div>
                    <ul>
                        @foreach (var item in Model.OldWords)
                        {
                            <li>@item.Origin</li>
                        }
                    </ul>
                </div>
            </a>
        </div>
    </div>
</div>
